In [7]:
import pandas as pd
import numpy as np

In [49]:
s = pd.Series([0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0])

In [50]:
df = pd.DataFrame(s)

In [51]:
df = df.rename(columns = {0:'col'})

In [45]:
df['block'] = (df['col'] != df['col'].shift(-1)).astype(int).cumsum()
df['count'] = df.groupby('block').transform(lambda x: range(1, len(x) + 1))

In [54]:
# df = pd.DataFrame({"binary": [0,1,1,1,0,0,1,1,0]})
df["consec"] = df["col"].groupby((df["col"] != 0).cumsum()).cumcount()

In [55]:
df

    col  consec
0     0       0
1     0       1
2     1       0
3     0       1
4     0       2
5     0       3
6     0       4
7     1       0
8     0       1
9     0       2
10    0       3
11    0       4
12    0       5
13    0       6
14    0       7
15    0       8
16    0       9
17    0      10
18    1       0
19    0       1
20    0       2
21    0       3
22    1       0
23    0       1
24    0       2
25    0       3