In [1]:
import random
num_samples = 100000000
def inside(p):     
  x, y = random.random(), random.random()
  return x*x + y*y < 1
count = sc.parallelize(range(0, num_samples)).filter(inside).count()
pi = 4 * count / num_samples
print(pi)
sc.stop()

3.14171808

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('input').getOrCreate()

In [9]:
import pandas as pd
x = pd.read_csv("/Users/Collier/Dropbox/Skills/Python/Projects/Stocks/StockMarket_ML_Trading/stock_fundamentals.csv")

In [10]:
x.head()

   Unnamed: 0           Dates Values          metric ticker
0           0  Sept. 30, 2017  4.084  debt_to_equity   TIPT
1           1   June 30, 2017  4.483  debt_to_equity   TIPT
2           2  March 31, 2017  4.290  debt_to_equity   TIPT
3           3   Dec. 31, 2016  2.702  debt_to_equity   TIPT
4           4  Sept. 30, 2016  5.935  debt_to_equity   TIPT

# Import

In [11]:
x = spark.read.csv("/Users/Collier/Dropbox/Skills/Python/Projects/Stocks/StockMarket_ML_Trading/stock_fundamentals.csv",inferSchema=True,header=True)

In [12]:
x.show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

# Export

In [13]:
spark_export = SparkSession.builder.appName('output').getOrCreate()

In [14]:
df = spark.createDataFrame([(0,'a'),
                           (1,'b')],
                           ['id','letter'])

In [16]:
df.show()

+---+------+
| id|letter|
+---+------+
|  0|     a|
|  1|     b|
+---+------+

In [17]:
df.write.csv("spark_test.csv",header=True)

In [18]:
mynewdf = spark.read.csv("spark_test.csv",
                        header=True,
                        inferSchema=True)

In [19]:
mynewdf.show()

+---+------+
| id|letter|
+---+------+
|  0|     a|
|  1|     b|
+---+------+

# Getting DF Info

## Head

In [20]:
x.show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

## Schema

In [21]:
x.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- Dates: string (nullable = true)
 |-- Values: string (nullable = true)
 |-- metric: string (nullable = true)
 |-- ticker: string (nullable = true)

## Describe

In [22]:
x.describe().show()

+-------+------------------+-------------+------------------+------------------+-------+
|summary|               _c0|        Dates|            Values|            metric| ticker|
+-------+------------------+-------------+------------------+------------------+-------+
|  count|           1263275|      1263275|           1240717|           1263275|1263275|
|   mean|10.894107775424986|         null|16.326433151026823|              null|   null|
| stddev| 7.192557673812945|         null| 986.1591955989774|              null|   null|
|    min|                 0|April 1, 2011|            -0.00%| asset_utilization|    AAC|
|    max|                24|Sept. 9, 2017|           999.96M|shares_outstanding|   ZYNE|
+-------+------------------+-------------+------------------+------------------+-------+

# Select

In [24]:
x.select('ticker').show()

+------+
|ticker|
+------+
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
|  TIPT|
+------+
only showing top 20 rows

In [27]:
x.select(['ticker','metric']).show()

+------+--------------+
|ticker|        metric|
+------+--------------+
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
|  TIPT|debt_to_equity|
+------+--------------+
only showing top 20 rows

# Create Col

In [28]:
x.withColumn('newticker',x['ticker']).show()

+---+--------------+------+--------------+------+---------+
|_c0|         Dates|Values|        metric|ticker|newticker|
+---+--------------+------+--------------+------+---------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|     TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|     TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|     TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|     TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|     TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|     TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|     TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|     TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|     TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|     TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|     TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|     TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|     TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|     TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|     TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|     TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|     TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|     TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|     TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|     TIPT|
+---+--------------+------+--------------+------+---------+
only showing top 20 rows

# Rename

In [29]:
x.withColumnRenamed('ticker','newticker').show()

+---+--------------+------+--------------+---------+
|_c0|         Dates|Values|        metric|newticker|
+---+--------------+------+--------------+---------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|     TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|     TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|     TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|     TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|     TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|     TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|     TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|     TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|     TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|     TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|     TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|     TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|     TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|     TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|     TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|     TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|     TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|     TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|     TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|     TIPT|
+---+--------------+------+--------------+---------+
only showing top 20 rows

# Calculated Columns

In [33]:
x.withColumn('dbl_metric',x['Values']*2).show()

+---+--------------+------+--------------+------+----------+
|_c0|         Dates|Values|        metric|ticker|dbl_metric|
+---+--------------+------+--------------+------+----------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|     8.168|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|     8.966|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|      8.58|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|     5.404|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|     11.87|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|     4.558|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|      4.48|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|     4.264|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|     3.914|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|      3.13|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|     3.316|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|     2.554|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|     2.728|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|     4.652|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|     3.762|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|     5.448|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|     2.372|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|     0.665|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|      2.61|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|    1.8546|
+---+--------------+------+--------------+------+----------+
only showing top 20 rows

In [38]:
x.withColumn('dbl_metric',x['Values']+2).show()

+---+--------------+------+--------------+------+------------------+
|_c0|         Dates|Values|        metric|ticker|        dbl_metric|
+---+--------------+------+--------------+------+------------------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|             6.084|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|             6.483|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|              6.29|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|             4.702|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|             7.935|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|             4.279|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|              4.24|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|             4.132|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|             3.957|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|             3.565|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|             3.658|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|             3.277|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|             3.364|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|4.3260000000000005|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|3.8810000000000002|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|             4.724|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|             3.186|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|            2.3325|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|3.3049999999999997|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|            2.9273|
+---+--------------+------+--------------+------+------------------+
only showing top 20 rows

In [39]:
new_x = x.withColumn('dbl_metric',x['Values']+2)

In [40]:
new_x.show()

+---+--------------+------+--------------+------+------------------+
|_c0|         Dates|Values|        metric|ticker|        dbl_metric|
+---+--------------+------+--------------+------+------------------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|             6.084|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|             6.483|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|              6.29|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|             4.702|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|             7.935|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|             4.279|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|              4.24|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|             4.132|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|             3.957|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|             3.565|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|             3.658|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|             3.277|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|             3.364|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|4.3260000000000005|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|3.8810000000000002|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|             4.724|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|             3.186|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|            2.3325|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|3.3049999999999997|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|            2.9273|
+---+--------------+------+--------------+------+------------------+
only showing top 20 rows

# SQL

In [41]:
x.createOrReplaceTempView('stocks')

In [42]:
sql_results = spark.sql("select * from stocks")

In [43]:
sql_results.show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [45]:
spark.sql("select * from stocks where ticker = 'TIPT'").show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

# Filtering

## With SQL syntax

In [48]:
x.filter("metric = 'debt_to_equity'").show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [50]:
(x
 .filter("metric = 'debt_to_equity'")
 .select('Values')
 .show())

+------+
|Values|
+------+
| 4.084|
| 4.483|
| 4.290|
| 2.702|
| 5.935|
| 2.279|
| 2.240|
| 2.132|
| 1.957|
| 1.565|
| 1.658|
| 1.277|
| 1.364|
| 2.326|
| 1.881|
| 2.724|
| 1.186|
|0.3325|
| 1.305|
|0.9273|
+------+
only showing top 20 rows

## With Python Syntax

In [67]:
(x.filter(
    (x['metric'] == 'debt_to_equity') & \
    (x['Dates'] == 'Sept. 30, 2017')) 
 .show())

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  0|Sept. 30, 2017|0.3323|debt_to_equity|  PFBC|
|  1|Sept. 30, 2017|0.2652|debt_to_equity|   MTG|
|  1|Sept. 30, 2017| 1.531|debt_to_equity|   CVI|
|  0|Sept. 30, 2017| 1.316|debt_to_equity|   TIS|
|  1|Sept. 30, 2017| 9.868|debt_to_equity|   CMO|
|  1|Sept. 30, 2017| 1.394|debt_to_equity|   TCS|
|  0|Sept. 30, 2017|0.0095|debt_to_equity|  AVDL|
|  1|Sept. 30, 2017|0.0793|debt_to_equity|   CBU|
|  1|Sept. 30, 2017|0.4374|debt_to_equity|   EDR|
|  1|Sept. 30, 2017|0.2828|debt_to_equity|   ALG|
|  1|Sept. 30, 2017|0.6061|debt_to_equity|   FBP|
|  1|Sept. 30, 2017|0.8585|debt_to_equity|   WWE|
|  1|Sept. 30, 2017| 0.295|debt_to_equity|  PMBC|
|  1|Sept. 30, 2017|0.3327|debt_to_equity|  SYKE|
|  1|Sept. 30, 2017| 2.832|debt_to_equity|  ONDK|
|  1|Sept. 30, 2017|0.5776|debt_to_equity|  TVTY|
|  1|Sept. 30, 2017|0.8437|debt_to_equity|  CHSP|
|  1|Sept. 30, 2017|0.8311|debt_to_equity|  TDOC|
|  1|Sept. 30, 2017|0.1011|debt_to_equity|   KNX|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [68]:
(x.filter(
    (x['metric'] == 'debt_to_equity') | \
    (x['Dates'] == 'Sept. 30, 2017')) 
 .show())

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

# Caching Results

In [69]:
result = (x.filter(
    (x['metric'] == 'debt_to_equity') | \
    (x['Dates'] == 'Sept. 30, 2017')) 
 .collect())

In [70]:
type(result)

list

In [77]:
result[1]

Row(_c0=1, Dates='June 30, 2017', Values='4.483', metric='debt_to_equity', ticker='TIPT')

# Dates & Times

In [78]:
x.head()

Row(_c0=0, Dates='Sept. 30, 2017', Values='4.084', metric='debt_to_equity', ticker='TIPT')

In [84]:
from pyspark.sql.functions import dayofmonth,\
dayofyear,weekofyear,date_format,unix_timestamp

In [89]:
x.select('Dates', unix_timestamp('Dates', 
                               'MM/dd/yyyy').alias('date')).show()

+--------------+----+
|         Dates|date|
+--------------+----+
|Sept. 30, 2017|null|
| June 30, 2017|null|
|March 31, 2017|null|
| Dec. 31, 2016|null|
|Sept. 30, 2016|null|
| June 30, 2016|null|
|March 31, 2016|null|
| Dec. 31, 2015|null|
|Sept. 30, 2015|null|
| June 30, 2015|null|
|March 31, 2015|null|
| Dec. 31, 2014|null|
|Sept. 30, 2014|null|
| June 30, 2014|null|
|March 31, 2014|null|
| Dec. 31, 2013|null|
|Sept. 30, 2013|null|
| June 30, 2013|null|
|March 31, 2013|null|
| Dec. 31, 2012|null|
+--------------+----+
only showing top 20 rows

In [87]:
x.show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [82]:
df.select(dayofmonth(x['Dates'])).show()

AnalysisException: 'Resolved attribute(s) Dates#57 missing from id#88L,letter#89 in operator !Project [dayofmonth(cast(Dates#57 as date)) AS dayofmonth(Dates)#973].;;\n!Project [dayofmonth(cast(Dates#57 as date)) AS dayofmonth(Dates)#973]\n+- AnalysisBarrier\n      +- LogicalRDD [id#88L, letter#89], false\n'

# Aggregate & Groupby

In [91]:
x.groupBy("ticker").mean().show()

+------+------------------+
|ticker|          avg(_c0)|
+------+------------------+
|  HBNC|              12.0|
|  ALXN|              12.0|
|   BOX|              4.25|
|  ENTL|  4.32046332046332|
|  CARS|1.4077669902912622|
|   CRS|              12.0|
|   OCX| 4.571428571428571|
|   PKE|              12.0|
|  RGLD|              12.0|
|  LLNW|11.159029649595688|
|  BCOV| 7.594262295081967|
|   RRD|              12.0|
|  KNDI| 10.15680473372781|
|   AVX|              12.0|
|  IOSP|              12.0|
|  HUBS| 4.014760147601476|
|   NPO|              12.0|
|   HAE|              12.0|
|   NNA| 7.922330097087379|
|   AAT| 8.255555555555556|
+------+------------------+
only showing top 20 rows

In [92]:
from pyspark.sql.functions import countDistinct,avg,stddev

In [93]:
x.select(countDistinct("ticker")).show()

+----------------------+
|count(DISTINCT ticker)|
+----------------------+
|                  2113|
+----------------------+

In [96]:
x.select(avg("values").alias("avg sales")).show()

+------------------+
|         avg sales|
+------------------+
|16.326433151026823|
+------------------+

In [97]:
from pyspark.sql.functions import format_number

In [98]:
vals_std = x.select(stddev("values").alias("std values"))
vals_std.show()

+-----------------+
|       std values|
+-----------------+
|986.1591955989774|
+-----------------+

In [103]:
from pyspark.sql import functions as func

In [106]:
(x
 .groupBy("ticker")
 .agg(func
      .avg('values')
      .alias('lol'))
 .show())

+------+------------------+
|ticker|               lol|
+------+------------------+
|  HBNC|16.872027090301007|
|  ALXN| 8.282233220338984|
|   BOX|13.541399999999994|
|  ENTL|11.115193421052632|
|  CARS|12.803731034482757|
|   CRS|  9.85766266666667|
|   OCX|          -0.49588|
|   PKE|13.191157564575645|
|  RGLD|16.037179931972787|
|  LLNW|12.801504182509518|
|  BCOV|11.210254088050315|
|   RRD|12.196114814814823|
|  KNDI| 65.16682705882349|
|   AVX|11.534897212543546|
|  IOSP| 9.628419000000001|
|  HUBS| 7.361332183908045|
|   NPO|13.638229666666659|
|   HAE|12.038497333333343|
|   NNA| 5.901970652173913|
|   AAT| 6.940160655737703|
+------+------------------+
only showing top 20 rows

# Sorting & Ordering

In [109]:
x.orderBy('ticker').show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0| Dec. 31, 2017| 1.332|debt_to_equity|   AAC|
|  3|March 31, 2017| 2.118| current_ratio|   AAC|
|  1|Sept. 30, 2017| 1.193|debt_to_equity|   AAC|
|  2| June 30, 2017| 1.275|debt_to_equity|   AAC|
|  3|March 31, 2017| 1.189|debt_to_equity|   AAC|
|  4| Dec. 31, 2016| 1.145|debt_to_equity|   AAC|
|  5|Sept. 30, 2016| 1.158|debt_to_equity|   AAC|
|  6| June 30, 2016| 1.024|debt_to_equity|   AAC|
|  7|March 31, 2016|0.9859|debt_to_equity|   AAC|
|  8| Dec. 31, 2015| 1.025|debt_to_equity|   AAC|
|  0|Sept. 30, 2015|0.8701|debt_to_equity|   AAC|
|  1| June 30, 2015|0.6908|debt_to_equity|   AAC|
|  2|March 31, 2015|0.7521|debt_to_equity|   AAC|
|  3| Dec. 31, 2014|0.2938|debt_to_equity|   AAC|
|  4|Sept. 30, 2014| 1.600|debt_to_equity|   AAC|
|  5| June 30, 2014| 1.772|debt_to_equity|   AAC|
|  6|March 31, 2014| 3.224|debt_to_equity|   AAC|
|  7| Dec. 31, 2013| 5.264|debt_to_equity|   AAC|
|  0| Dec. 31, 2017| 1.848| current_ratio|   AAC|
|  1|Sept. 30, 2017| 3.276| current_ratio|   AAC|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [110]:
x.orderBy(x['values'].desc()).show()

+---+--------------+-------+------------------+------+
|_c0|         Dates| Values|            metric|ticker|
+---+--------------+-------+------------------+------+
|  3|March 31, 2017|999.96M|           revenue|  FWRD|
| 14| June 30, 2014|999.94M|           revenue|   LHO|
|  2| Jan. 31, 2011|999.90M|           revenue|  LAYN|
| 22| Jan. 31, 2006|999.82M|           revenue| VLGEA|
| 22|Sept. 30, 2011|999.80M|shares_outstanding|   ABX|
| 22|Sept. 30, 2011|999.80M|shares_outstanding|   ABX|
|  5| June 30, 2010|999.69M|           revenue|   MTX|
| 13|  May 31, 2008|999.67M|           revenue|   UNF|
| 22| June 30, 2012|999.52M|           revenue|   MMS|
| 13| Dec. 31, 2013|999.51M|           revenue|    HK|
|  6| June 30, 2016|999.48M|           revenue|  ASTE|
| 10| June 30, 2015|999.41M|           revenue|  BGFV|
|  4| Dec. 31, 2016|999.39M|           revenue|   HZO|
| 20| Dec. 31, 2012|999.38M|           revenue|   MTX|
| 24|April 15, 2011|999.33M|shares_outstanding|   ABX|
| 24|April 15, 2011|999.33M|shares_outstanding|   ABX|
|  2|March 31, 2012|999.22M|           revenue|    KS|
| 16|Sept. 30, 2007|999.20M|           revenue|   NPO|
| 22| June 30, 2012|999.10M|           revenue|   MWA|
| 12|Sept. 30, 2008|999.03M|           revenue|  ASTE|
+---+--------------+-------+------------------+------+
only showing top 20 rows

# Dropping Missing Data

In [111]:
x.na.drop().show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [112]:
# drop rows with less than threshold of # of nulls in row
## has to have atleast 2 non null values
x.na.drop(thresh=2).show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [114]:
# dropping if nulls in subsetted column
x.na.drop(subset=['Values']).show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [116]:
# specifying ANY vs ALL (if any value in row is null)
x.na.drop(how="any").show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [117]:
# specifying ANY vs ALL (only if all row's values are null)
x.na.drop(how="all").show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

# Filling Missing Data

In [118]:
x.na.fill('NEW VALUE').show() #filles the null value with a string

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [119]:
x.na.fill(0).show() #filles the null value with 0

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

In [120]:
# subsetting the fill on just one column
x.na.fill('No Name',subset=['ticker']).show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows

## Imputation

In [122]:
from pyspark.sql.functions import mean

In [123]:
mean_val = x.select(mean(x['Values'])).collect()

In [124]:
mean_val

[Row(avg(Values)=16.326433151026823)]

In [125]:
mean_val_fill = mean_val[0][0]

In [126]:
mean_val_fill

16.326433151026823

In [128]:
x.na.fill(mean_val_fill,['Values']).show()

+---+--------------+------+--------------+------+
|_c0|         Dates|Values|        metric|ticker|
+---+--------------+------+--------------+------+
|  0|Sept. 30, 2017| 4.084|debt_to_equity|  TIPT|
|  1| June 30, 2017| 4.483|debt_to_equity|  TIPT|
|  2|March 31, 2017| 4.290|debt_to_equity|  TIPT|
|  3| Dec. 31, 2016| 2.702|debt_to_equity|  TIPT|
|  4|Sept. 30, 2016| 5.935|debt_to_equity|  TIPT|
|  5| June 30, 2016| 2.279|debt_to_equity|  TIPT|
|  6|March 31, 2016| 2.240|debt_to_equity|  TIPT|
|  7| Dec. 31, 2015| 2.132|debt_to_equity|  TIPT|
|  8|Sept. 30, 2015| 1.957|debt_to_equity|  TIPT|
|  9| June 30, 2015| 1.565|debt_to_equity|  TIPT|
| 10|March 31, 2015| 1.658|debt_to_equity|  TIPT|
| 11| Dec. 31, 2014| 1.277|debt_to_equity|  TIPT|
| 12|Sept. 30, 2014| 1.364|debt_to_equity|  TIPT|
| 13| June 30, 2014| 2.326|debt_to_equity|  TIPT|
| 14|March 31, 2014| 1.881|debt_to_equity|  TIPT|
| 15| Dec. 31, 2013| 2.724|debt_to_equity|  TIPT|
| 16|Sept. 30, 2013| 1.186|debt_to_equity|  TIPT|
| 17| June 30, 2013|0.3325|debt_to_equity|  TIPT|
| 18|March 31, 2013| 1.305|debt_to_equity|  TIPT|
| 19| Dec. 31, 2012|0.9273|debt_to_equity|  TIPT|
+---+--------------+------+--------------+------+
only showing top 20 rows