In [1]:
import pandas as pd

In [3]:
for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

# Read from Access DB via ODBC

https://www.easysoft.com/developer/languages/python/pyodbc.html

https://www.youtube.com/watch?v=zw9P2wSnoIo

# Read from SAS Dataset via ODBC

## Compressed File

In [4]:
test = pd.read_sas("C:/Users/David/Dropbox/Skills/SAS_JMP/Data/client.sas7bdat")

In [5]:
test.head()

,CLIENT_ID,FST_NM,LST_NM,ORIG_DT,BIRTH_DT,ZIP_5
0,b'0996257578',b'JENNIE',b'JOHNSON',14116.715709,5040.564985,b'91320'
1,b'0603759831',b'LORETTA',b'MITCHELL',15141.465836,3640.567226,b'92129'
2,b'0640025008',b'WALTER',b'THAMMAVONG',14605.794273,-4616.599049,b'32766'
3,b'0724761848',b'ANDRE',b'DAHLEM',13552.303007,-3533.341032,b'60102'
4,b'0221655391',b'AMADA',b'SNYDER',15007.282826,NaN,b'85044'

In [8]:
test2 = pd.read_sas("C:/Users/David/Dropbox/Skills/CodeSnippits/SAS/Artists.dat")

AttributeError: 'NoneType' object has no attribute 'lower'