# Oracle Exercises

In [38]:
import sqlalchemy
import pandas as pd
import cx_Oracle

In [40]:
from sqlalchemy import create_engine
db_connection = cx_Oracle.connect("david/barkley07@dkingpc/xe")

# db_connection = cx_Oracle.connect("user0/user0@dkingpc/xe")

In [42]:
x = pd.read_sql_query('SELECT * FROM purch_hist',db_connection)

# Query Function

In [63]:
def q(sqls,db_connection,rows):
    x = pd.read_sql_query(sqls,db_connection)
    return x.head(rows)

# Character Dates

In [64]:
sqls = '''
select * from purch_hist 
where purchproddate like '%/2015'
and purchprodid = '2'
and to_number(substr(purchproddate,1,2)) > '06'
'''

In [65]:
q(sqls,db_connection,10)

   ACCOUNTID PURCHPRODDATE PURCHPRODID  PURCHORDERID
0     400416    07/17/2015           2         49709
1     400449    12/12/2015           2         35729
2     400736    07/20/2015           2         55945
3     400801    12/14/2015           2         54776
4     400878    08/28/2015           2         59765
5     400881    12/17/2015           2         14190
6     400985    11/27/2015           2         81573
7     401999    11/18/2015           2         51524
8     402684    07/11/2015           2           364
9     403806    09/25/2015           2         77772